target/
.settings/
.classpath
.project
MANIFEST.MF
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/
/target
.idea/
*.iml
.externalToolBuilders/
/.tgitconfig
.swp
.DS_Store
*.log
.metadata/
Servers/
webapp/target/
.idea/
